<!DOCTYPE html>
<html lang="en">
  <style>
    * {
     margin: 0;
     padding: 0;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Global warming</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <table>
          <tr>
          <td>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">Home!</a>
          </li>
          <br></br>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">Brief information!</a>
          </li>
          </td>
          </tr>
          </table>
          <table>
          <tr>
          <td>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">Reasons for the problem!</a>
          </li>
          <br></br>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#problem">Methods of solutions!</a>
          </li>
          </td>
          </tr>
          </table>
          <table>
          <tr>
          <td>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#form">Feedback!</a>
          </li>
          <br></br>
          <div class="droper">
            <button class="dropb">Language</button>
            <div class="droper-content">
            <a href="/">RUS</a>
            <a href="/cz">CZ</a>
            </div>
          </div>
          </li>
          </td>
          </tr>
          </table>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">GLOBAL WARMING</h1>
        <p class="home__subtitle">BRIEF INFO, CAUSES OF THE PROBLEM, SOLUTIONS</p>
        <img
            class="info-block__img"
            src="../static/img/ima.png"
            alt="me"
            width="1000"
            height="750"
            />
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__about about" id="about">
        <h2 class="about__title">BRIEF INFO!</h2>
        <div class="about__info info-block">
          <h3 class="info-block__text">
            Global warming is a long-term increase in the Earth's average temperature caused by human activities, 
            particularly the burning of fossil fuels (coal, oil, gas), which leads to the accumulation of greenhouse gases (such as CO2) in the atmosphere. 
            This climate change results in the melting of glaciers, rising sea levels, altered weather patterns, and an increase in the 
            frequency of extreme weather events such as hurricanes, droughts, and floods. As a result, ecosystems, agriculture, water supply, 
            and human health are adversely affected. Combating global warming requires a reduction in greenhouse gas emissions and a transition 
            to more sustainable energy sources.
          <div class=""></div>
          </h3>
          <img
            class="info-block__img"
            src="../static/img/Globalnoe-poteplenie.jpg"
            alt="me"
            width="500"
            height="500"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">REASONS FOR THE PROBLEM</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <table>
            <tr>
            <td>
            <li class="skills-list__skill skill">
              <span class="skill__info">1. Burning fossil fuels</span>
              <img
                class="skill__img"
                src="../static/img/zhil.jpg"
                alt="python"
                width="150"
                height="150"
              />
              <div class="dropdown">
                <button type="button" class="dropbtn">VIEW DETAILS</button>
                <div class="dropdown-content">
                  <a name="button_zhik"><h3><u>Burning fossil fuels</u></h3></a>
                  <img
                    class="skill__img"
                    src="../static/img/gan.jpg"
                    alt="python"
                    width="450"
                    height="300"
                  />
                  <p><font color="#000000">Fossil fuels, such as coal, oil, and natural gas, are widely used for electricity generation,
                    heating, and transportation. When these materials are burned, they release carbon dioxide (CO2) and other 
                    greenhouse gases. CO2 is the primary greenhouse gas that traps heat in the atmosphere and enhances the greenhouse 
                    effect. In recent decades, due to the growth of industry, transportation, and energy consumption, CO2 emissions 
                    have significantly increased, becoming one of the main factors of global warming.</font></p>
                </div>
              </div>
            </li>
            <br></br>
            <li class="skills-list__skill skill">
              <span class="skill__info">2. Industrial production</span>
              <img
                class="skill__img"
                src="../static/img/omish.jpg"
                alt="discord"
                width="150"
                height="150"
              />
              <div class="dropdown">
                <button type="button" class="dropbtn">VIEW DETAILS</button>
                <div class="dropdown-content">
                  <a><h3><u>Industrial production</u></h3></a>
                  <img
                    class="skill__img"
                    src="../static/img/chel.jpg"
                    alt="python"
                    width="450"
                    height="300"
                  />
                  <p><font color="#000000">The industrial sector, which includes industries such as metallurgy, chemical production, 
                    and cement manufacturing, is a major source of greenhouse gas emissions. Factories and plants consume large amounts 
                    of energy, typically derived from fossil fuels, leading to CO2 emissions. Additionally, some industrial processes, 
                    such as cement production, inherently release CO2. The chemical industry is also responsible for emissions of other 
                    greenhouse gases, such as fluorinated gases, which have a very high global warming potential.</font></p>
                </div>
            </li>
            </td>
            </tr>
            </table>

            <table>
            <tr>
            <td>
            <li class="skills-list__skill skill">
              <span class="skill__info">3. Agriculture</span>
              <img
                class="skill__img"
                src="../static/img/se.jpg"
                alt="html"
                width="300"
                height="150"
              />
              <div class="dropdown">
                <button type="button" class="dropbtn">VIEW DETAILS</button>
                <div class="dropdown-content">
                  <a name="button_zhik"><h3><u>Agriculture</u></h3></a>
                  <img
                    class="skill__img"
                    src="../static/img/kombai.jpg"
                    alt="python"
                    width="450"
                    height="300"
                  />
                  <p><font color="#000000">Agriculture is an important source of greenhouse gases, particularly methane (CH4) and 
                    nitrous oxide (N2O). Methane is released during the digestion of livestock (cattle, sheep) and from the 
                    decomposition of organic matter in low-oxygen conditions, such as in rice paddies. Nitrous oxide is emitted from 
                    the use of nitrogen fertilizers, which are widely applied to increase crop yields. These gases have a much higher 
                    global warming potential compared to CO2, despite their significantly lower concentrations in the atmosphere.</font></p>
                </div>
              </div>
            </li>
            <br></br>
            <li class="skills-list__skill skill">
              <span class="skill__info">4. Deforestation</span>
              <img
                class="skill__img"
                src="../static/img/vy.jpg"
                alt="SQL"
                width="150"
                height="150"
              />
              <div class="dropdown">
                <button type="button" class="dropbtn">VIEW DETAILS</button>
                <div class="dropdown-content">
                  <a name="button_zhik"><h3><u>Deforestation</u></h3></a>
                  <img
                    class="skill__img"
                    src="../static/img/vyrubka-lesa.jpg"
                    alt="python"
                    width="450"
                    height="250"
                  />
                  <p><font color="#000000">Forests play a key role in absorbing carbon dioxide from the atmosphere. However, mass 
                    deforestation, especially of tropical forests, leads to the loss of this natural CO2 absorption mechanism. Trees 
                    that are cut down or burned release the carbon dioxide stored in their biomass, which increases the overall 
                    concentration of CO2 in the atmosphere. Deforestation also results in the loss of biodiversity and disrupts the 
                    water cycle, exacerbating the effects of climate change.</font></p>
                </div>
              </div>
            </li>
            </td>
            </tr>
            </table>

            <table>
            <tr>
            <td>
            <li class="skills-list__skill skill">
              <span class="skill__info">5. Land use, urbanization</span>
              <img
                class="skill__img"
                src="../static/img/ur.jpg"
                alt="SQL"
                width="200"
                height="150"
              />
              <div class="dropdown">
                <button type="button" class="dropbtn">VIEW DETAILS</button>
                <div class="dropdown-content">
                  <a name="button_zhik"><h3><u>Land use, urbanization</u></h3></a>
                  <img
                    class="skill__img"
                    src="../static/img/urok.jpg"
                    alt="python"
                    width="450"
                    height="300"
                  />
                  <p><font color="#000000">Land use changes associated with urban expansion, infrastructure development, and intensive 
                    agriculture lead to the degradation of natural ecosystems such as forests, wetlands, and pastures, which previously 
                    served as CO2 sinks. Urbanization increases the area of surfaces that heat up in the sun and release heat into the 
                    atmosphere (e.g., asphalt, concrete), which intensifies the "heat island" effect. This results in additional 
                    warming of the environment and increased energy consumption for cooling buildings.</font></p>
                </div>
              </div>
            </li>
            <br></br>
            <li class="skills-list__skill skill">
              <span class="skill__info">6. Transport</span>
              <img
                class="skill__img"
                src="../static/img/pas.jpg"
                alt="SQL"
                width="150"
                height="150"
              />
              <div class="dropdown">
                <button type="button" class="dropbtn">VIEW DETAILS</button>
                <div class="dropdown-content">
                  <a name="button_zhik"><h3><u>Transport</u></h3></a>
                  <img
                    class="skill__img"
                    src="../static/img/bus.jpg"
                    alt="python"
                    width="450"
                    height="300"
                  />
                  <p><font color="#000000">The transport sector is one of the largest sources of greenhouse gas emissions. Cars, 
                    trucks, airplanes, ships, and trains burn vast amounts of gasoline, diesel fuel, and aviation kerosene, leading to 
                    the release of CO2 and other harmful substances. Despite advancements in technology and improvements in fuel 
                    efficiency, the overall volume of emissions from transport continues to rise due to the increasing number of 
                    vehicles and the volume of freight. The contribution of aviation to global warming is particularly significant due 
                    to emissions at high altitudes, where their impact on the climate is amplified.</font></p>
                </div>
              </div>
            </li>
          </td>
          </tr>
          </table>
          </ul>
        </form>
      </section>




      <section class="main__skills skills" id="problem">
        <h2 class="skills__title">METHODS OF SOLUTION</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <table>
            <tr>
            <td>
            <li class="skills-list__skill skill">
              <span class="skill__info">1. Reduce greenhouse gas emissions</span>
              <img
                class="skill__img"
                src="../static/img/eco.jpg"
                alt="python"
                width="150"
                height="100"
              />
              <div class="dropdown">
                <button type="button" class="dropbtn">VIEW DETAILS</button>
                <div class="dropdown-content">
                  <a name="button_zhik"><h3><u>Reduce greenhouse gas emissions</u></h3></a>
                  <img
                    class="skill__img"
                    src="../static/img/zachrannin.jpg"
                    alt="python"
                    width="450"
                    height="350"
                  />
                  <p><font color="#000000">
                    <p><b><u>1. Switch to renewable energy:</u></b> Use solar, wind, and other clean energy sources instead of coal and oil.</p>
                    <p><b><u>2. Increase energy efficiency:</u></b> Use less energy by making homes and businesses more efficient, for 
                      example, by installing energy-saving light bulbs and insulating buildings.</p>
                    <p><b><u>3. Electrify transportation:</u></b> Switch to electric vehicles and low-emission public transport.</p>
                  </font>
                  </p>
                </div>
              </div>
            <br></br>
            <li class="skills-list__skill skill">
              <span class="skill__info">2. Use new technologies</span>
              <img
                class="skill__img"
                src="../static/img/tech.png"
                alt="discord"
                width="200"
                height="150"
              />
              <div class="dropdown">
              <button type="button" type="button" class="dropbtn">VIEW DETAILS</button>
              <div class="dropdown-content">
                <a><h3><u>Use new technologies</u></h3></a>
                <img
                  class="skill__img"
                  src="../static/img/technologic.jpg"
                  alt="python"
                  width="450"
                  height="350"
                />
                <p><font color="#000000">
                  <p><b><u>1. Capture and store carbon:</u></b> Develop technologies that capture CO2 at factories and power plants 
                    and store it underground.</p>
                  <p><b><u>2. Develop hydrogen energy.</u></b> Use hydrogen as a clean type of fuel.</p>
                </font>
                </p>
              </div>
              </div>
            </li>
            </td>
            </tr>
            </table>

            <table>
            <tr>
            <td>
            <li class="skills-list__skill skill">
              <span class="skill__info">3. Protect and restore nature.</span>
              <img
                class="skill__img"
                src="../static/img/zas.webp"
                alt="html"
                width="200"
                height="150"
              />
              <div class="dropdown">
                <button type="button" class="dropbtn">VIEW DETAILS</button>
                <div class="dropdown-content">
                  <a name="button_zhik"><h3><u>Protect and restore nature.</u></h3></a>
                  <img
                    class="skill__img"
                    src="../static/img/zasuvk.jpg"
                    alt="python"
                    width="450"
                    height="200"
                  />
                  <p><font color="#000000">
                    <p><b><u>1. Plant more trees:</u></b> Forests absorb CO2, so restoring lost forests helps reduce carbon dioxide levels.</p>
                    <p><b><u>2. Preserve ecosystems:</u></b> Protect wetlands, mangrove forests, and other natural areas that help 
                      regulate the climate.</p>
                  </font>
                  </p>
                </div>
              </div>
            </li>
            <br></br>
            <li class="skills-list__skill skill">
              <span class="skill__info">4. Use land and agriculture wisely.</span>
              <img
                class="skill__img"
                src="../static/img/i.jpg"
                alt="SQL"
                width="250"
                height="100"
              />
            <div class="dropdown">
              <button type="button" class="dropbtn">VIEW DETAILS</button>
              <div class="dropdown-content">
                <a name="button_zhik"><h3><u>Use land and agriculture wisely.</u></h3></a>
                <img
                  class="skill__img"
                  src="../static/img/lego.jpg"
                  alt="python"
                  width="450"
                  height="200"
                />
                <p><font color="#000000">
                  <p><b><u>1. Reduce agricultural emissions:</u></b> Use fewer fertilizers and adopt more sustainable farming practices.</p>
                  <p><b><u>2. Combine agriculture with forests:</u></b> Grow trees together with agricultural crops, which helps absorb carbon.</p>
                </font>
                </p>
              </div>
            </div>
          </li>
          </td>
          </tr>
          </table>


          <table>
          <tr>
          <td>
          <li class="skills-list__skill skill">
            <span class="skill__info">5. Transition to a sustainable economy.</span>
            <img
              class="skill__img"
              src="../static/img/fin.webp"
              alt="html"
              width="150"
              height="150"
            />
            <div class="dropdown">
              <button type="button" class="dropbtn">VIEW DETAILS</button>
              <div class="dropdown-content">
                <a><h3><u>Transition to a sustainable economy.</u></h3></a>
                <img
                  class="skill__img"
                  src="../static/img/finannsy_2.png"
                  alt="python"
                  width="450"
                  height="200"
                />
                <p><font color="#000000">
                  <p><b><u>1. Reduce waste and recycle more:</u></b> Throw away less and recycle more to reduce emissions from production and disposal.</p>
                  <p><b><u>2. Produce and consume sustainably:</u></b> Manufacture goods with minimal environmental impact and promote long-term product use.</p>
                </font>
                </p>
              </div>
            </div>
          </li>
          <br></br>
          <li class="skills-list__skill skill">
            <span class="skill__info">6. Collaborate at the international level.</span>
            <img
              class="skill__img"
              src="../static/img/sot.jpg"
              alt="SQL"
              width="150"
              height="150"
            />
            <div class="dropdown">
              <button type="button" class="dropbtn">VIEW DETAILS</button>
              <div class="dropdown-content">
                <a><h3><u>Collaborate at the international level.</u></h3></a>
                <img
                  class="skill__img"
                  src="../static/img/mir.jpg"
                  alt="python"
                  width="450"
                  height="200"
                />
                <p><font color="#000000">
                  <p><b><u>1. Comply with international agreements:</u></b> Countries must meet emissions reduction commitments 
                    such as the Paris Agreement.</p>
                  <p><b><u>2. Fund environmental projects:</u></b> Support developing countries in their transition to clean energy 
                    and sustainable development.</p>
                </font>
                </p>
              </div>
            </div>
          </li>
          </td>
          </tr>
          </table>

          <table>
          <tr>
          <td>
          <li class="skills-list__skill skill">
            <span class="skill__info">7. Educate and inform people</span>
            <img
              class="skill__img"
              src="../static/img/info.jpg"
              alt="html"
              width="150"
              height="150"
            />
            <div class="dropdown">
              <button type="button" class="dropbtn">VIEW DETAILS</button>
              <div class="dropdown-content">
                <a><h3><u>Educate and inform people</u></h3></a>
                <img
                  class="skill__img"
                  src="../static/img/insttru.webp"
                  alt="python"
                  width="450"
                  height="200"
                />
                <p><font color="#000000">
                  <p><b><u>1. Raise awareness:</u></b> Educate people about the causes and consequences of global warming and how 
                    what can be done to help.</p>
                  <p><b><u>2. Promote an eco-friendly lifestyle:</u></b> Encourage people to use public transport, reduce 
                    energy consumption and reducing meat consumption.</p>
                </font>
                </p>
              </div>
            </div>
          </li>
          <br></br>
          <li class="skills-list__skill skill">
            <span class="skill__info">8. Prepare for climate change</span>
            <img
              class="skill__img"
              src="../static/img/izmena.jpg"
              alt="SQL"
              width="250"
              height="150"
            />
            <div class="dropdown">
              <button type="button" class="dropbtn">VIEW DETAILS</button>
              <div class="dropdown-content">
                <a><h3><u>Prepare for climate change</u></h3></a>
                <img
                  class="skill__img"
                  src="../static/img/teplota.jpg"
                  alt="python"
                  width="450"
                  height="200"
                />
                <p><font color="#000000">
                  <p><b><u>1. Build sustainable infrastructure:</u></b> Design buildings and roads that can withstand extreme 
                    weather conditions.</p>
                  <p><b><u>2. Defend the coasts:</u></b> Build protective structures against rising sea levels and strengthen coastlines.</p>
                </font>
                </p>
              </div>
            </div>
          </li>
          </td>
          </tr>
          </table>
        </ul>
        </form>
      </section>
    </section>
    <!-- Секция с формой обратной связи -->
     <section>
      <section class="main__feedback feedback" id="form">
        <h2 class="feedback__title">Feedback</h2>
        <form action="/suben" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="E-mail" required>
          </label>
          <label for="comment">
            <textarea name="comment" class="form__input" id="text" cols="70" rows="10" required placeholder="Comment"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
      </section>
     </section>
    </main>
    </footer>
  </body>
</html>
